@media (min-width:993px){
    #theme-header {
        display: none;
    }
    #theme-body {
        padding-top: 0 !important;
    }
}

.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__name .profile-name {
    color: black;
}

#theme-body {
    background-color: #d3d5de;
}

.input-group {
    margin-bottom: 5px;
}

#to-center-in {
    text-align: center;
}

#centered-in {
    display:inline-block;
}

#delete-photo-button {
    min-width: 130px;
}

#login-username-input {

}

#login-username-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black !important;
}
#login-username-input::-moz-placeholder { /* Firefox 19+ */
    color: black !important;;
}
#login-username-input:-ms-input-placeholder { /* IE 10+ */
    color: black !important;;
}
#login-username-input:-moz-placeholder { /* Firefox 18- */
    color: black !important;;
}
#login-username-input::placeholder { /* Firefox 18- */
    color: black !important;;
}

#login-password-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black !important;
}
#login-password-input::-moz-placeholder { /* Firefox 19+ */
    color: black !important;;
}
#login-password-input:-ms-input-placeholder { /* IE 10+ */
    color: black !important;;
}
#login-password-input:-moz-placeholder { /* Firefox 18- */
    color: black !important;;
}
#login-password-input::placeholder { /* Firefox 18- */
    color: black !important;;
}